In [1]:
import pandas as pd
import numpy as np
import json

In [57]:
for t in ['true', 'hat']:    
    for model in ['bin_depth3', 'bit_depth3', 'bit_depth4']:
        dfs = []
        for i in range(5):
            dfs.append(pd.read_csv(f'{model}_distillation_{t}_R2_seed{i}.csv', index_col = 0).set_index('Model'))

        concatenated_df = np.stack([df.values for df in dfs])

        # Calculate mean and standard deviation along the new axis
        mean_df = np.mean(concatenated_df, axis=0)
        std_df = np.std(concatenated_df, axis=0)

        # Create a new dataframe to store the formatted results
        formatted_df = pd.DataFrame(index=dfs[0].index, columns=dfs[0].columns)

        # Fill in the new dataframe with mean (std) format
        for i, col in enumerate(dfs[0].columns):
            for j, row in enumerate(dfs[0].index):
                mean_value = mean_df[j, i]
                std_value = std_df[j, i]
                formatted_df.at[row, col] = f"{mean_value:.3f} ({std_value:.3f})"

        # Display the formatted dataframe
        formatted_df.to_csv(f'complete/{model}_{t}_R2.csv')

In [58]:
dfs = []
for i in range(5):
    dfs.append(pd.read_csv(f'binarize_prediction_seed{i}.csv', index_col = 0).set_index('Model'))

    concatenated_df = np.stack([df.values for df in dfs])

    # Calculate mean and standard deviation along the new axis
    mean_df = np.mean(concatenated_df, axis=0)
    std_df = np.std(concatenated_df, axis=0)

    # Create a new dataframe to store the formatted results
    formatted_df = pd.DataFrame(index=dfs[0].index, columns=dfs[0].columns)

    # Fill in the new dataframe with mean (std) format
    for i, col in enumerate(dfs[0].columns):
        for j, row in enumerate(dfs[0].index):
            mean_value = mean_df[j, i]
            std_value = std_df[j, i]
            formatted_df.at[row, col] = f"{mean_value:.3f} ({std_value:.3f})"

    # Display the formatted dataframe
formatted_df.to_csv(f'complete/binarize_R2.csv')

In [64]:
dfs[4]

,Train R2,Test R2,Train Time,Total Num Features,Num Selected Features
Model,,,,,
"(bin3, true, train)",0.720534,0.657415,129.884056,27727,1143
"(bit3, true, train)",0.684452,0.620330,12.115291,2325,847
"(bit4, true, train)",0.763437,0.587161,37.032010,5489,1507

In [32]:
concatenated_df = np.stack([df.values for df in dfs])

# Calculate mean and standard deviation along the new axis
mean_df = np.mean(concatenated_df, axis=0)
std_df = np.std(concatenated_df, axis=0)

# Create a new dataframe to store the formatted results
formatted_df = pd.DataFrame(index=df1.index, columns=df1.columns)

# Fill in the new dataframe with mean (std) format
for i, col in enumerate(dfs[0].columns):
    for j, row in enumerate(dfs[0].index):
        mean_value = mean_df[j, i]
        std_value = std_df[j, i]
        formatted_df.at[row, col] = f"{mean_value:.2f} ({std_value:.2f})"

# Display the formatted dataframe
formatted_df

,Train R2,Val R2,Test R2,Train Time,Total Num Features,Num Selected Features
Model,,,,,,
"(bin, orig, train)",0.72 (0.01),0.67 (0.02),0.66 (0.01),176.81 (16.19),26606.20 (560.40),1101.00 (12.88)
"(bin, bin, train)",0.69 (0.01),0.67 (0.00),0.66 (0.02),85.59 (8.76),26606.20 (560.40),538.80 (83.95)
"(bin, orig, val)",0.63 (0.02),0.66 (0.01),0.60 (0.01),40.86 (6.83),26606.20 (560.40),345.60 (31.74)
"(bin, bin, val)",0.68 (0.01),0.67 (0.01),0.65 (0.02),23.43 (5.05),26606.20 (560.40),518.20 (51.66)
"(bin, orig, train+val)",0.71 (0.01),0.69 (0.02),0.66 (0.01),130.94 (14.25),26606.20 (560.40),1089.00 (25.25)
"(bin, bin, train+val)",0.69 (0.01),0.67 (0.00),0.66 (0.02),73.84 (10.60),26606.20 (560.40),529.20 (83.10)
FTTransformer,0.89 (0.02),0.81 (0.01),0.81 (0.00),-1.00 (0.00),-1.00 (0.00),-1.00 (0.00)
FTTransformer bin,0.73 (0.02),0.69 (0.00),0.68 (0.02),-1.00 (0.00),-1.00 (0.00),-1.00 (0.00)

In [29]:
mean_df.shape

(8, 6)

In [27]:
for i, col in enumerate(dfs[0].columns):
    for j, row in enumerate(dfs[0].index):
        print(i, row)

0 (bin, orig, train)
0 (bin, bin, train)
0 (bin, orig, val)
0 (bin, bin, val)
0 (bin, orig, train+val)
0 (bin, bin, train+val)
0 FTTransformer
0 FTTransformer bin
1 (bin, orig, train)
1 (bin, bin, train)
1 (bin, orig, val)
1 (bin, bin, val)
1 (bin, orig, train+val)
1 (bin, bin, train+val)
1 FTTransformer
1 FTTransformer bin
2 (bin, orig, train)
2 (bin, bin, train)
2 (bin, orig, val)
2 (bin, bin, val)
2 (bin, orig, train+val)
2 (bin, bin, train+val)
2 FTTransformer
2 FTTransformer bin
3 (bin, orig, train)
3 (bin, bin, train)
3 (bin, orig, val)
3 (bin, bin, val)
3 (bin, orig, train+val)
3 (bin, bin, train+val)
3 FTTransformer
3 FTTransformer bin
4 (bin, orig, train)
4 (bin, bin, train)
4 (bin, orig, val)
4 (bin, bin, val)
4 (bin, orig, train+val)
4 (bin, bin, train+val)
4 FTTransformer
4 FTTransformer bin
5 (bin, orig, train)
5 (bin, bin, train)
5 (bin, orig, val)
5 (bin, bin, val)
5 (bin, orig, train+val)
5 (bin, bin, train+val)
5 FTTransformer
5 FTTransformer bin